{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ne-Quizlet</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" href="http://127.0.0.1:9000/lab1/icons8-quizlet-32.png">
  </head>
  <body>
    <div class="space">
        <div class="header">
            <a href="http://127.0.0.1:8000/" class="logo" id="logo">Q</a>
            <a href="http://127.0.0.1:8000/" class="logo">Ne-Quizlet</a>
        </div>
        <div class="container">
          <div class="center">
            <div class="word-lang">
              <h1 class="title" id="word">{{data.word}}</h1>
              <h2 class="title" id="lang">({{data.word_language}})</h2>
            </div>
          </div>
          <div class="first-layer">
              <p class="word-class">{{data.word_class}}</p>
          </div>
            <div class="cards-container">
                <div class="card">
                  <div class="content">
                    <h2 id="lvl"><span id="level">{{data.word_level}}</span></h2>
                    <p class="underline" id="description">{{data.word_description}}</p>
                    <h3 class="parameter">Перевод:<span class="parameter-text">{{data.word_translation}}</span></h3>
                    <h3 class="parameter">Пример:<span class="parameter-text">{{data.word_example}}</span></h3>
                    <h3 class="parameter">Синонимы:<span class="parameter-text">{{data.word_synonyms}}</span></h3>
                  </div>
                  <img src="{{data.word_image}}" class="card-image" id="about-image">
                </div>
        </div>
    </div>
    </div>
  </body>
</html>
