{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ne-Quizlet</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" href="http://127.0.0.1:9000/lab1/icons8-quizlet-32.png">
  </head>
  <body>
    <div class="space">
        <div class="header">
            <a href="http://127.0.0.1:8000/" class="logo" id="logo">Q</a>
            <a href="http://127.0.0.1:8000/" class="logo">Ne-Quizlet</a>
        </div>
        <div class="container">
            <h1 class="title" id="cart-title">Список слов</h1>
            <p class = "dropdown-select"> Выучить до: {{data.week}}</p>
            <!-- <form method="post" action="">
              {% csrf_token %}
              <select class="dropdown-select" name="dates" id="drop">
                <option value="">Выучить до:</option>
                <option value="{{ week }}">
                  До: {{ data.week }}
                </option>
                <option value="{{ month }}">
                  До: {{ data.month }}
                </option>
                <option value="{{ three_months }}">
                  До: {{ data.three_months }}
                </option>
              </select>
              <button type="submit" class="dropdown-select" id="save">Сохранить</button>
            </form> -->
            <div class="cards-container">
                {% block cart_word_cards %}{% endblock %}
            </div>
            <form method="post" action="{% url 'delete_word_list' data.id%}">
              {% csrf_token %}
            <button class="button" id="delete_button" name="delete_button">Очистить</button>
            </form>
    </div>
  </body>
</html>
