{% load static %}
<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ne-Quizlet</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" href="http://127.0.0.1:9000/lab1/icons8-quizlet-32.png">
  </head>
  <body>
    <div class="space">
        <div class="header">
            <a href="http://127.0.0.1:8000/" class="logo" id="logo">Q</a>
            <a href="http://127.0.0.1:8000/" class="logo">Ne-Quizlet</a>
        </div>
        <div class="container">
            <h1 class="title" id="cart-title">Список слов</h1>
            <!-- <select class="dropdown-select">
                <option value="option1"><p >До: </p>19.09.24</option>
                <option value="option2"><p>До: </p>10.10.24</option>
                <option value="option3"><p >До: </p>05.11.24</option>
            </select> -->
            <p class = "dropdown-select"> Word List Created: {{data.creation_datetime}}</p>
            <div class="cards-container">
                {% block cart_word_cards %}{% endblock %}
            </div>
            <form method="post" action="{% url 'delete_word_list' data.id%}">
              {% csrf_token %}
            <button class="button" id="delete_button" name="delete_button">Очистить</button>
            </form>
    </div>
  </body>
</html>
